@mixin btn-config() {
  visibility: hidden;
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
}

.bookmark-btn {
  @include btn-config;

  &::before {
    content: "\2661";
    visibility: visible;
    color: #001533;
  }

  &--active {
    @include btn-config;

    &::before {
    visibility: visible;
    content: "\2665";
    color: red;

    }
  }
}