@mixin control-btn() {
  width: 23ch;
  height: 2.5rem;
  line-height: 2.4rem;
  font-size: 1.1rem;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #001533;
  border: 2px solid #b3fffb;
  color: #b3fffb;
  cursor: pointer;

  &:hover {
    color: #599bcf;
  }

  &--active {
    background-color: #b3fffb;
    color: #001533;
  }
}

.filter-control-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #b3fffb;
}

.filter-control {
  display: flex;
  transform: translateY(2px);
  justify-content: flex-end;
  padding: 5px 7px;
  align-items: start;
  box-sizing: border-box;
  width: fit-content;
  border: 2px solid #b3fffb;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  height: 3.1rem;
  margin-top: 1rem;
  background-color: #010e21;

  &__btn {
    &-container {
      display: flex;
      position: relative;
      font-size: 1.1rem;
      font-weight: bold;
      width: 23ch;
      height: 2.5rem;
    }

    &--favorites,
    &--favorites--active {
      @include control-btn;
      padding-left: 1.2rem;
      border-radius: 2rem 0 0 2rem;
    }

    &--favorites--active {
      &:hover {
        color: #001533;
      }
    }

    &--ratings,
    &--ratings--active {
      @include control-btn;
      padding-right: 1.2rem;
      border-radius: 0 2rem 2rem 0;
    }

    &--ratings--active {
      border-right: 2px solid #001533;
      &:hover {
        color: #001533;
      }
    }

    &--ratings-direction,
    &--ratings-direction--active {
      @include control-btn;
      position: absolute;
      right: 0.25;
      top: 0.25rem;
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      line-height: 1.5rem;

      &:hover {
        background-color: #001533;
        color: #b3fffb;
      }
    }

    &--ratings-direction--active {
      transform: rotate(180deg);
      background-color: #001533;
      color: #b3fffb;
    }
  }
}

@media (max-width: 600px) {
  .filter-control {
    &__btn {
      &-container {
        width: 23ch;
      }

      &--favorites,
      &--favorites--active {
        @include control-btn;
        width: 23ch;
        padding-left: 2.2rem;
      }

      &--ratings,
      &--ratings--active {
        @include control-btn;
        width: 23ch;
        padding-right: 2.2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .filter-control {
    &__btn {
      &-container {
        width: 23ch;
      }

      &--favorites,
      &--favorites--active {
        @include control-btn;
        width: 23ch;
        padding-left: 2.2rem;
      }

      &--ratings,
      &--ratings--active {
        @include control-btn;
        width: 23ch;
        padding-right: 2.2rem;
      }
    }
  }
}
