.main-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
  width: 1024px;
}

@media (max-width: 600px) {
  .main-container {
    width: 80%
  }
}