.search-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  width: fit-content;
}

.search-bar {
  position: relative;
  width: 45ch;
  height: 1.75rem;
  padding: 0.25rem 1.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 2px solid #b3fffb;
  border-radius: 2rem;
  font-family: "Teko", sans-serif;
  color: #599bcf;

  &::placeholder {
    color: #599bcf;
  }

  &:focus {
    outline: none;
  }

  &__btn {
    height: 2rem;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 5;
    right: 0;
    bottom: 5;
    margin-right: 5px;
    border: 2px solid #b3fffb;
    border-radius: 2rem;
    font-size: 1.1rem;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    color: #b3fffb;
    width: 16ch;

    &:hover {
      color: #599bcf;
    }
    &:active {
      background-color: #b3fffb;
      color: #001533;
    }
  }
}

@media (max-width: 660px) {
  .search-bar {
    width: 25ch;
    &__btn {
      width: 12ch;
    }
  }
}
